body {
  margin:0;
  font-family: Arial, sans-serif;
  background:#f8f9fc;
  color:#333;
}

header {
  text-align:center;
  padding:40px;
  background:#ffffff;
}

.hero {
  text-align:center;
  padding:60px 20px;
}

.hero h2 {
  font-size:28px;
  margin-bottom:10px;
}

.hero p {
  font-size:18px;
  max-width:500px;
  margin:auto;
  color:#555;
}
